@use '../utility' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit; 
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
    background-color: var(--background);
    color: var(--small-text);
    font-weight: 700;
    overflow-x: hidden;
}