:root{
    --increase: hsl(163, 72%, 41%);
    --decrease: hsl(356, 69%, 56%);

    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-start: hsl(37, 97%, 70%); 
    --instagram-center: hsl(5, 77%, 71%);
    --instagram-end:  hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    --dark-toggle-bg-start: hsl(146, 68%, 55%);
    --dark-toggle-bg-end: hsl(210, 79%, 56%);
    --dark-toggle-button: hsl(232, 19%, 15%);
    --dark-toggle-button-hover: hsl(232, 19%, 20%);

    --light-toggle-bg: hsl(230, 22%, 74%);
    --light-toggle-button: hsl(228, 46%, 96%);
    --light-toggle-bg-hover-start: hsl(146, 68%, 55%);
    --light-toggle-bg-hover-end: hsl(210, 79%, 56%);

    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg: hsl(232, 19%, 15%);
    --dark-card-bg: hsl(228, 28%, 20%);
    --dark-card-bg-hover: hsl(228, 28%, 26%);
    --dark-text1: hsl(230, 22%, 74%);
    --dark-text2: white;

    --light-bg: white;
    --light-top-bg: hsl(225, 100%, 98%);
    --light-card-bg: hsl(227, 47%, 96%);
    --light-card-bg-hover: hsl(228, 33%, 91%);
    --light-text1: hsl(228, 12%, 44%);
    --light-text2: hsl(230, 17%, 14%);
    
    
    --background: var(--dark-bg);
    --top-background: var(--dark-top-bg);
    --card-background: var(--dark-card-bg);
    --card-background-hover: var(--dark-card-bg-hover);
    --small-text: var(--dark-text1);
    --big-text: var(--dark-text2);
    --toggle-background: linear-gradient(225deg, var(--dark-toggle-bg-start) 0%, var(--dark-toggle-bg-end) 98.02%);
    --toggle-button: var(--dark-toggle-button);
    --toggle-wrapper-hover: var(--dark-toggle-button-hover);
}

body.light {
    --background: var(--light-bg);
    --top-background: var(--light-top-bg);
    --card-background: var(--light-card-bg);
    --card-background-hover: var(--light-card-bg-hover);
    --small-text: var(--light-text1);
    --big-text: var(--light-text2);
    --toggle-background: var(--light-toggle-bg);
    --toggle-button: var(--light-toggle-button);
    --toggle-wrapper-hover: linear-gradient(225deg, var(--light-toggle-bg-hover-start) 0%, var(--light-toggle-bg-hover-end) 98.02%);
}

